body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.container-img{
    padding: 0px;
    width: 100%;
    background-color: white;
    position: fixed;
    margin: 0px;
    z-index: 5;
}
img{
    height:60px;
    padding-left: 5px;
    padding-top: 5px;
}
p{
    font-size: 12px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    width: 100%;
    background-color: white;
    margin-top: 70px;
    position: fixed;
    z-index: 5;
}
/*menu*=======================================================================*/
header{
    margin-top: 89px;
    width:100%;
    position: fixed;
    z-index: 5;
}
.menu *{
    margin: 0px;
    padding: 0px;
} 
.menu ul,
.menu ol{
    list-style: none;
}
.menu li{
    width: 100%; 
}
.menu  ul li:last-child{
    margin: 0px 0px 0px 0px;
}
.menu > ul{
    display: flex;
    justify-content: left ;
}
.menu > ul li a{
    display: block ;
    background-color: #04a6dd;
    padding: 7px 30px 14px ;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s ease;
    height:20px;
}
.menu > ul li{
    position: relative;
    border-right: 1px solid white;
    border-top: 1px solid white;
}
.menu > ul li > a i.fa{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 14px;
}
.menu li a:hover{
    background: white;
    color: #04a6dd;
    transition: all 0.3s ease;
}
/*sub menu*================================================================================ */
.menu li ul {
    position: absolute;
    min-width: 100%;
    display: none;
}
.menu li > ul li {
    border: 1px solid white;
}
.menu li > ul li a{
    padding: 10px;
    text-transform: none;
}
.menu li > ul li ul {
    position: absolute;
    right: 100%;;
    top: 0;
}
.menu li:hover > ul {
    display: block;
}
/*table*====================================================================================*/
.data{
    margin-top: 132px ; 
    font-size: 12px;
    background-color: rgba(108,117,125,0.8);
    color: aliceblue;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(108,117,125,1);
    width: 100%;
    position:absolute;
    z-index: 1;
}
.data td{
    padding: 0px;
    border: 1px solid rgb(184, 178, 178);
    width: auto;
    text-align: center;
}
.data td:not(:last-child){

}
/* .data td[colspan="2"] {
    font-weight: bold;
    text-align: center;
    background-color: #6c757d;
} */
/*btn-table*==============================================================================*/
/* .btn-table{

    background-color: rgba(108,117,125,.2);
    width: auto;
    border: 1px solid rgb(184, 178, 178);
    color: aliceblue;
    margin: 0 ;
    line-height: 1;
}
.btn-table:hover{
    color: aliceblue;
    opacity: 0.6;
    background-color: rgba(108,117,125,1);
} */
/*input-table*==============================================================================*/
.input-table{
    background: rgba(108,117,125,.1);
    width: 95%;
    border: 1px solid rgba(108,117,125,.1);
    color: aliceblue;
    line-height: 3.5;
    text-align: center;
    outline: none;
}
.input-table:hover{
    color: aliceblue;
    opacity: 0.5;
    background: rgba(108,117,125,1);
    transition: all 0.5s ease;
}
.input-table::placeholder{
    color: aliceblue;
    text-align:center;
    font-size: 12px;
}
/*menu-table*===========================================================================*/
.menu-table *{
    margin: 0px;
    padding: 0px;
    outline: none;
} 
.menu-table ul,
.menu-table ol{
    list-style: none;
}
.menu-table li{
    width: 100%; 
}
.menu-table > ul{
        /* display: flex; */
    /* justify-content: left ; */
}
.menu-table > ul li a{
    display: block ;
    background-color: rgba(108,117,125,.1);
    padding: 25px 2px 15px ;
    font-size: 12px;
    color: azure;
    text-decoration: none;
}
.menu-table > ul li{
    position: relative;
    /* border-right: 1px solid white; */
}
.menu-table > ul li > a i.fa{
    position: absolute;
    top: 12px;
    padding-left:20px;
    font-size: 14px;
}
.menu-table li a:hover{
    /* background: white; */
    /* color: #04a6dd; */
    background-color: rgba(108,117,125,0.5);
    transition: all 0.5s ease;
}
    /*sub menu-table*===================================================================== */
    .menu-table li ul {
    position: relative;
    min-width: 100%;
    display: none;
}
.menu-table li > ul li {
    border-top: 1px solid rgb(184, 178, 178);
}
.menu-table li > ul li a{
    /* padding: 10px; */
    /* text-transform: none; */
}
.menu-table li > ul li ul{
    /* position: absolute; */
    /* right: 1px; */
    /* top: 0; */
}
.menu-table li:hover >ul{
    display: block;
    background-color: rgba(108,117,125,0.6);
    transition: all 0.5s ease;
}

